body {
  background: #eee;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

/* .title-container,
.content,
.button-container{
  padding: 10px;
  margin: 10px; */
/* } */

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title-container {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
}